.navigation__list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 58px;
  list-style: none;
}

.navigation__link {
  color: inherit;
  text-decoration: none;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
}

@media (max-width: 876px) {
  .navigation__link {
    font-size: 11px;
  }
}

@media (max-width: 876px) {
  .navigation__link {
    font-size: 11px;
  }
}
